nav {
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: #dcdce5;
    height: 65px;
    transition: height 0.5s ease-in; 
}
nav ul {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translate(-1px, 1.5em);
    transition: transform 0.5s ease-in; 
}
nav ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border: 1px solid black;
    font-size: larger;
    background-color: #dcdce5;
    color:brown;
}
nav ul a:hover {
    color: #dcdce5;
    background-color:brown;
}

/* navbar menu */

/* logo 
    - move text
    - add logo as bg-image
    - adjust bg-image 
    - go in and change the grid    
*/
a.logo {
    text-indent: -1000px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 10px;
}

/* this has not recently changed */
a.hamburger-toggle {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
    width: 35px;
    border: 1px solid black;
    background-color: #dcdce5;
}
span.bar {
    display: inline-block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 3px 0;
}
/* hide menu in handheld view */
ul.hidden {
    transform: translateY(-250px);
    transition: transform 0.5s ease-in; 
}
nav.minimized {
    height: 65px;
    transition: height 1s ease-in;
}

@media screen and (min-width: 40em) {
    nav#main-nav {
        grid-template-areas: 
        "logo . navbar";
    }
    nav ul#main-menu {
        flex-direction: row;
        transform: translate(-0.5em, 0.5em);
    }
    #menu-toggle {
        display: none;
    }
    ul#main-menu {
        transform: translate(-1px, 1.5em);
    }
}