body {
    background-color: #F0F0F2;
    color: #0D0D0D;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}
h1, h2, h3, h4 {
    font-family: "DM Serif Text", serif;
}
a {
    color:brown;
}
a:hover {
    color: rgb(209, 26, 26);
}
hgroup {
    font-size: larger;
    background-color: #f0f0f2c7;
    color:#121218;
}
main {
    font-size: 140%;
    line-height: 1.4;
}